* {
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

h1 {
    text-align: center;
}

#container-1 {
    background-color: #003049;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row-reverse;
}

#container-1 body-element-container-one {
    width: 100%;
    height: 200px;
}

.list-container {
    display: flex;
    margin-left: 40%;
}

li>a {
    margin: .5em;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-font {
    border-right: 5px solid red;
    padding-right: .5em;
}

.nav-container {
    background-color: greenyellow;
    margin: 0%;
    padding: .2em;
    margin-bottom: 1em;
}

.nav-font {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.list-container {
    margin-left: 35em;
}

.list-container-two {
    align-items: center;
    padding-top: 1.5em;
    margin-left: -3em;
}

.footer-container {
    background-color: black;
    height: 190px;
    margin-top: 9em;
    max-height: 190px;
}


.copy {
    text-align: center;
    margin-top: 4em;
    overflow: hidden;
    padding-top: 6em;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.sidebar {
    background-color: black;
    width: 400px;
    margin-top: -9.9em;
    margin-left: -.3em;
    justify-content: left;
    height: 865px;
}


.nav-font {
    color: blue;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4em;
}

.body-element-container-one {
    margin-top: 1em;
}


.sidebar-dashboard {
    color: white;
}

.li-class {
    margin: 1em;
}

.sidebar-dashboard {
    text-align: center;
}